<div class="signup-value-proposition">
  <div class="value-proposition-content">
    <h3 class="value-proposition-title">{{theme-setting "signup_subheader_title"}}</h3>
    <div class="value-proposition-benefits">
      <div class="benefit-item">
        <div class="benefit-icon">{{theme-setting "benefit_1_icon"}}</div>
        <div class="benefit-text">
          <strong>{{theme-setting "benefit_1_title"}}</strong>
          <span>{{theme-setting "benefit_1_description"}}</span>
        </div>
      </div>
      <div class="benefit-item">
        <div class="benefit-icon">{{theme-setting "benefit_2_icon"}}</div>
        <div class="benefit-text">
          <strong>{{theme-setting "benefit_2_title"}}</strong>
          <span>{{theme-setting "benefit_2_description"}}</span>
        </div>
      </div>
      <div class="benefit-item">
        <div class="benefit-icon">{{theme-setting "benefit_3_icon"}}</div>
        <div class="benefit-text">
          <strong>{{theme-setting "benefit_3_title"}}</strong>
          <span>{{theme-setting "benefit_3_description"}}</span>
        </div>
      </div>
      <div class="benefit-item">
        <div class="benefit-icon">{{theme-setting "benefit_4_icon"}}</div>
        <div class="benefit-text">
          <strong>{{theme-setting "benefit_4_title"}}</strong>
          <span>{{theme-setting "benefit_4_description"}}</span>
        </div>
      </div>
    </div>
    <div class="value-proposition-cta">
      <p>{{theme-setting "signup_subheader_cta"}}</p>
    </div>
  </div>
</div> 